<div class="grid grid-cols-3 grid-rows-3 gap-9">
  <div class="row-span-3">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div class="mb-5">
        <label for="matricula" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Matrícula</label>
        <input type="text" id="matricula" formControlName="matricula" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
      </div>
      <div class="mb-5">
        <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Nombre</label>
        <input type="text" id="nombre" formControlName="nombre" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
      </div>
      <div class="mb-5">
        <label for="correo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Correo</label>
        <input type="email" id="correo" formControlName="correo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
      </div>
      <div class="mb-5">
        <label for="edad" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Edad</label>
        <input type="number" id="edad" formControlName="edad" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
      </div>
      <div class="mb-5">
        <label for="horasTrabajadas" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Horas Trabajadas</label>
        <input type="number" id="horasTrabajadas" formControlName="horasTrabajadas" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
      </div>
      <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Registrar</button>
    </form>
  </div>
  <div class="col-span-2 row-span-3">
    <br>
    <button type="button" (click)="imTabla()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Imprimir</button>
    <br>
    <br>
    <table class="min-w-full bg-white dark:bg-gray-800">
      <thead class="bg-gray-50 dark:bg-gray-700">
        <tr>
          <th class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase dark:text-gray-400">Matrícula</th>
          <th class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase dark:text-gray-400">Nombre</th>
          <th class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase dark:text-gray-400">Correo</th>
          <th class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase dark:text-gray-400">Edad</th>
          <th class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase dark:text-gray-400">Horas Trabajadas</th>
          <th class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase dark:text-gray-400">Horas a Pagar</th>
          <th class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase dark:text-gray-400">Horas Extras</th>
          <th class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase dark:text-gray-400">Subtotal</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-800" *ngIf="mostrarTabla"> <!-- Mostrar filas solo si mostrarTabla es true -->
        <tr *ngFor="let empleado of empleados">
          <td class="px-4 py-3 text-sm text-gray-900 whitespace-nowrap dark:text-white">{{ empleado.matricula }}</td>
          <td class="px-4 py-3 text-sm text-gray-900 whitespace-nowrap dark:text-white">{{ empleado.nombre }}</td>
          <td class="px-4 py-3 text-sm text-gray-900 whitespace-nowrap dark:text-white">{{ empleado.correo }}</td>
          <td class="px-4 py-3 text-sm text-gray-900 whitespace-nowrap dark:text-white">{{ empleado.edad }}</td>
          <td class="px-4 py-3 text-sm text-gray-900 whitespace-nowrap dark:text-white">{{ empleado.horasTrabajadas }}</td>
          <td class="px-4 py-3 text-sm text-gray-900 whitespace-nowrap dark:text-white">{{ empleado.horasAPagar }}</td>
          <td class="px-4 py-3 text-sm text-gray-900 whitespace-nowrap dark:text-white">{{ empleado.horasExtras }}</td>
          <td class="px-4 py-3 text-sm text-gray-900 whitespace-nowrap dark:text-white">{{ empleado.subTotal }}</td>
        </tr>
        <tr class="bg-gray-100 dark:bg-gray-700">
          <td colspan="7" class="px-6 py-4 text-sm font-medium text-gray-900 dark:text-gray-400 text-right">Total a pagar</td>
          <td class="px-6 py-4 text-sm font-medium text-gray-900 dark:text-gray-400">{{totalPagar}}</td>
        </tr>
      </tbody>
    </table>
    <button type="button" (click)="modificar()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Modificar</button>
    <button type="button" (click)="eliminar()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Eliminar</button>
  </div>
</div>
